{% extends 'auth/base_auth.html' %}
{% load static %}
{% block content %}
<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex justify-content-center py-4">
    <a href="#" class="logo d-flex align-items-center w-auto">
      <img src="{% static 'img/logo.png' %}" alt="">
      <img src="{% static 'img/logo_rename.png' %}" alt="">
    </a>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
        <p class="text-center small">Enter your personal details to create account</p>
      </div>
      <form class="row g-3 needs-validation" method="POST">
        {% csrf_token %}
        <div class="col-12">
          <label for="yourUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            {{ form.username }}
          </div>
        </div>
        <div class="col-12">
          <label for="yourPassword" class="form-label">Password</label>
            {{ form.password1 }}
        </div>
        <div class="col-12">
            <label for="yourPassword" class="form-label">Confirme Password</label>
            {{ form.password2 }}
          </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
            <div class="invalid-feedback">You must agree before submitting.</div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary w-100" type="submit">Create Account</button>
        </div>
        <div class="col-12">
          <p class="small mb-0">Already have an account? <a href="{% url 'client-login' %}">Log in</a></p>
        </div>
      </form>
    </div>
</div>
{% endblock content %}